body {
  background-color: lightblue;
  margin-left: 80;
  margin-right: 50;
}

h1 {
  color: navy;
  margin-left: 20px;
}

a {
    color: rgb(55, 31, 153);
}


.title {
    font-size: large;
    font-style: oblique;
    font-weight: 1,5;
}

.person {
    color: rgb(212, 71, 71);
}

.organisation {
    color: coral    ;
}