
TEI {
    background-color: rgb(237, 238, 238);
}

teiHeader {
    background-color: azure;
    display: block;
}


body{
    color:#000000;
    background-color:#eddec6;
    margin:10pt;
    /*padding:0;*/
    font-family:Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
    display: block;
}

p {
    display: block;
}

name[ana="person"] {
  width: 10px;
  padding: 6px;
  background-color: rgb(230, 179, 154);
}